h1{
    background-color: rgb(34, 143, 143);
    border-radius: 100px ;
    text-align: center;
    color: white;
}
body{
    background-color: rgb(255, 254, 238);
    margin: 20px;
    padding: 20px;
}
.pro1{
    background-color: rgb(170, 250, 221);
    border-radius: 10px;
    font-size: 30px;
    padding: auto;
}
.pro2{
    background-color: rgb(170, 250, 221);
    border-radius: 10px;
    font-size: 30px;
    padding: 0px auto;
}
.img{
    width: 250px;
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.now{
    font-size: 40px;
    color: cornflowerblue;
}